<footer class="bg-danger text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Google -->
      <a
        class="btn text-white btn-floating m-1"
        href="#!"
        role="button"
        style="background-color: #fff"
        ><i class="fab fa-google"></i
        ><img
          src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png"
          style="width: 30px"
      /></a>

      <!-- Instagram -->
      <a
        class="btn text-white btn-floating m-1"
        href="#!"
        role="button"
        style="background-color: #fff"
        ><i class="fab fa-instagram"></i
        ><img
          src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png"
          style="width: 30px"
      /></a>

      <!-- Linkedin -->
      <a
        class="btn text-white btn-floating m-1"
        href="#!"
        role="button"
        style="background-color: #fff"
        ><i class="fab fa-linkedin-in"></i
        ><img
          src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
          style="width: 30px"
      /></a>
      <!-- Github -->
      <a
        class="btn text-white btn-floating m-1"
        href="#!"
        role="button"
        style="background-color: #fff"
        ><i class="fab fa-github"></i
        ><img
          src="https://cdn-icons-png.flaticon.com/512/733/733609.png"
          style="width: 30px"
      /></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div
    class="text-center p-3 text-white"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    Mehmet Hilmi Emel
  </div>
  <!-- Copyright -->
</footer>
