<nav class="navbar navbar-expand-lg navbar-dark bg-danger mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Siber Zorbalık</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'video' %}"
            >Video Aramalarım</a
          >
        </li>

        {% endif %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'hakkında' %}"
            >Proje Hakkında</a
          >
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="">{{user}} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'logout' %}">Çıkış Yap</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'login' %}">Giriş Yap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'register' %}">Kaydol</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
